[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/mnt/c/SCP/SCPCA1
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/mnt/c/SCP/SCPCA1/WeatherPredic.sock WeatherPredic.wsgi:application

       
[Install]
WantedBy=multi-user.target